In [18]:
#seires data
import pandas as pd
s1=pd.Series([1,2,4,5,6,7])
s1

0    1
1    2
2    4
3    5
4    6
5    7
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [7]:
s1

0    1
1    2
2    4
3    5
4    6
5    7
6    A
7    B
8    c
dtype: object

In [9]:
# assigning of index
s2=pd.Series([1,2,3,5,6,7,8],index=["a","b","c",'d','e','f',"g"])
s2

a    1
b    2
c    3
d    5
e    6
f    7
g    8
dtype: int64

In [11]:
#using dictionary
s3=pd.Series({"a":87,"b":23,"c":21,"e":5})
s3

a    87
b    23
c    21
e     5
dtype: int64

In [13]:
s4=pd.Series([1,2,3,4],index=[9,8,7,6])
s4

9    1
8    2
7    3
6    4
dtype: int64

In [14]:
# changing of indexces
s5=pd.Series({"a":1,"b":2,"d":6},index=["c","d","b","a"])
s5

c    NaN
d    6.0
b    2.0
a    1.0
dtype: float64

In [16]:
 # extraction of element from 
s6=pd.Series([1,2,43,5,63,46,4,34,346,7,4534,34])
print("single element \n",s6[4])
print("slicing reverse \n",s6[-3:])
print("slicing sequentially\n",s6[4:])

single element
 63
slicing reverse
 9        7
10    4534
11      34
dtype: int64
slicing sequentially
 4       63
5       46
6        4
7       34
8      346
9        7
10    4534
11      34
dtype: int64

In [19]:
print(s1,"\n")
print(s2,"\n")
print(s1+s2,"\n")
print(s1+2,"\n")

0    1
1    2
2    4
3    5
4    6
5    7
dtype: int64

a    1
b    2
c    3
d    5
e    6
f    7
g    8
dtype: int64

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
dtype: float64

0    3
1    4
2    6
3    7
4    8
5    9
dtype: int64

In [22]:
s4=pd.Series({"a":2,"b":6,"c":9},index=['c',"a","b"])
print(s4)

c    9
a    2
b    6
dtype: int64

In [23]:
s4+2

c    11
a     4
b     8
dtype: int64

In [24]:
s4+s1

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
dtype: float64

In [28]:
ss1=pd.Series([1,2,3,4,5,6,8,9,0,7])
ss2=pd.Series([0,9,8,7,6,5,4,3,2,1])
ss1+ss2

0     1
1    11
2    11
3    11
4    11
5    11
6    12
7    12
8     2
9     8
dtype: int64

In [30]:
print(ss1+3,"\n")
print(ss1-5,"\n")
print(ss1*5,"\n")
print(ss1/3,"\n")

0     4
1     5
2     6
3     7
4     8
5     9
6    11
7    12
8     3
9    10
dtype: int64

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    3
7    4
8   -5
9    2
dtype: int64

0     5
1    10
2    15
3    20
4    25
5    30
6    40
7    45
8     0
9    35
dtype: int64

0    0.333333
1    0.666667
2    1.000000
3    1.333333
4    1.666667
5    2.000000
6    2.666667
7    3.000000
8    0.000000
9    2.333333
dtype: float64

In [32]:
# CREATING DATA FRAME
pd.DataFrame({"NAME":["ALI","ZAIN","AHMED"],"ROLLNO":[21,43,76]})

    NAME  ROLLNO
0    ALI      21
1   ZAIN      43
2  AHMED      76

In [35]:
# to read a csv or xls file
iris=pd.read_csv("iris.xls")

In [36]:

iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
# to show last five elemnt of the file
iris.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [39]:
iris.shape

(150, 5)

In [40]:
# describe the behavoiuss from the file
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [45]:
iris.iloc[0:3,0:6]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [46]:
# lo
iris.describe().iloc[1:4,0:]

      Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
mean      5.843333     3.057333      3.758000     1.199333
std       0.828066     0.435866      1.765298     0.762238
min       4.300000     2.000000      1.000000     0.100000

In [47]:
iris.loc[0:5,("Sepal.Width","Petal.Width")]

   Sepal.Width  Petal.Width
0          3.5          0.2
1          3.0          0.2
2          3.2          0.2
3          3.1          0.2
4          3.6          0.2
5          3.9          0.4

In [48]:
# extracting range of elements in
iris.iloc[0:3,0:4]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [56]:
# DEleting the column or row
print(iris)
a=iris.drop([1,2,3,7]),axis=0
print(a)
iris.drop("Sepal.Length",axis=1)

SyntaxError: cannot assign to function call (<ipython-input-56-c95025b796b1>, line 3)

In [59]:
iris.drop([0,3,6,4,1],axis=0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
2             4.7          3.2           1.3          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

In [60]:
iris.min()
iris.max()
iris.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [61]:
iris.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

In [62]:
iris.min()

Sepal.Length       4.3
Sepal.Width          2
Petal.Length         1
Petal.Width        0.1
Species         setosa
dtype: object

In [66]:
# halfing the elements
def half(s):
    return s*0.5
print(iris[["Sepal.Length",'Petal.Width']])
iris[["Sepal.Length","Petal.Length"]].apply(half)

     Sepal.Length  Petal.Width
0             5.1          0.2
1             4.9          0.2
2             4.7          0.2
3             4.6          0.2
4             5.0          0.2
..            ...          ...
145           6.7          2.3
146           6.3          1.9
147           6.5          2.0
148           6.2          2.3
149           5.9          1.8

[150 rows x 2 columns]

     Sepal.Length  Petal.Length
0            2.55          0.70
1            2.45          0.70
2            2.35          0.65
3            2.30          0.75
4            2.50          0.70
..            ...           ...
145          3.35          2.60
146          3.15          2.50
147          3.25          2.60
148          3.10          2.70
149          2.95          2.55

[150 rows x 2 columns]

In [70]:
iris["Species"].value_counts()

virginica     50
setosa        50
versicolor    50
Name: Species, dtype: int64

In [73]:
print(iris["Sepal.Length"])
iris.sort_values(by="Sepal.Length")

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, Length: 150, dtype: float64

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]